<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SysNet Defender Alert</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
        }
        .header {
            text-align: center; /* Center the logo */
        }
        .header img {
            width: 250px;
        }
        h1 {
            color: #333333;
            font-size: 24px;
            text-align: left; /* Align the title to the left */
            margin: 0;
        }
        p {
            font-size: 14px;
            line-height: 1.5;
            color: #666666;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        .table th, .table td {
            padding: 10px;
            text-align: left;
            border: 1px solid #e0e0e0;
            font-size: 14px;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button {
            background-color: #ff8c00; /* Orange color */
            color: white;
            padding: 15px 50px; /* Increased padding for larger button */
            text-decoration: none;
            font-size: 18px; /* Larger font size */
            border-radius: 5px;
            font-weight: bold;
            display: inline-block;
        }
        .footer {
            font-size: 12px;
            color: #999999;
            text-align: center;
            margin-top: 20px;
            padding-top: 10px;
            border-top: 1px solid #e0e0e0;
        }
        .ongoing-message {
            text-align: center; /* Center the ongoing message */
            margin-top: 10px;
        }
        .text-shadow {
    /* font :italic 400 28px Georgia serif; */
    font-size: 26px;
    /* font-family: 'Papyrus', fantasy; */
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    }
    .highlight-alert {
        color: #e74c3c; /* Màu đỏ */
        font-weight: 700; /* Đậm hơn một chút */
    }   
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="cid:acslogo" alt="ACS LOGO">
            <h1 class="text-shadow">SysNet Def <span class="highlight-alert">alert</span></h1>
        </div>
        <p>A DDoS attack has been detected. An automated mitigation rule has been deployed.</p>

        <table class="table">
            <tr>
                <th>Time detected</th>
                <td><%= attack.timestamp %> ICT</td>
            </tr>
            <tr>
                <th>Type</th>
                <td><%= attack.attackType %> </td>
            </tr>
            <tr>
                <th>Action</th>
                <td>Block </td>
            </tr>
            <tr>
                <th>Current rate</th>
                <td><%= attack.packetCount %> pps</td>
            </tr>
            <tr>
                <th>Target IP</th>
                <td><%= attack.dstIP %> </td>
            </tr>
            <tr>
                <th>Target Port</th>
                <td><%= attack.dstPort %> </td>
            </tr>
        </table>
        
        <div class="button-container">
            <a href=<%= attack.siteAddress %> class="button">Defender Dashboard</a>
        </div>
        
        <p class="ongoing-message">This attack may be ongoing. Click the button above to proceed to the dashboard and view the attack process.</p>
    </div>
</body>
</html>
